<div class="stepper-horiz">
    <div class="stepper @(active == 0 ? "active" : "") @(active > 0 ? "done" : "")">
        <div class="stepper-icon">
            <i class="material-icons">person</i>
        </div>
        <span class="stepper-text">Sign in</span>
    </div>
    <div class="stepper @(active == 1 ? "active" : "") @(active > 1 ? "done" : "")">
        <div class="stepper-icon">
            <i class="material-icons">shopping_cart</i>
        </div>
        <span class="stepper-text">Select</span>
    </div>
    <div class="stepper @(active == 2 ? "active" : "") @(active > 2 ? "done" : "")">
        <div class="stepper-icon">
            <i class="material-icons">credit_card</i>
        </div>
        <span class="stepper-text">Checkout</span>
    </div>
    <div class="stepper @(active == 3 ? "active" : "") @(active > 3 ? "done" : "")">
        <div class="stepper-icon">
            <i class="material-icons">attach_money</i>
        </div>
        <span class="stepper-text">Confirm</span>
    </div>
</div>

@code {
    [Parameter]
    public int active { get; set; }
}
